<h1>BUSCADOR IMDB</h1>
<section class="get">
	<p>{{ error }}</p>
    <h3>Buscar por nombre de la película</h3>
    <form action="/get-data" method="get">
    	<div class="input">
            <label for="noanme">Título película: </label>
            <input type="text" id="nombre" name="nombre">
            <button type="submit">BUSCAR</button>
        </div>
        <article class="item">
            <br><div>{{title}}</div>
            <div>{{year}}</div>
            <div>{{id}}</div></br>
        </article>
    </form>
    <h3>Obtener el/los género/s de una película</h3>
    <form action="/get-data" method="get">
        <div class="input">
            <label for="titulo">Título película: </label>
            <input type="text" id="ano" name="ano">
            <button type="submit">BUSCAR</button>
        </div>
        <div>{{title2}}</div>
        <div>
        {{# each items2 }}
            <article class="item">
            	<br><div>Género: {{this.genre}}</div></br>
            </article>
        {{/each}}
   		</div>
    </form>
    <h3>Buscar por género</h3>
    <form action="/get-data" method="get">
        <div class="input">
            <label for="genero">Género: </label>
            <input type="text" id="genero" name="genero">
            <button type="submit">BUSCAR</button>
        </div>
        <div>
        {{# each items3 }}
            <article class="item">
            	<br><div>Título: {{this.title}}</div>
            	<div>Año: {{this.year}}</div>
            	<div>Género: {{this.genre}}</div></br>
            </article>
        {{/each}}
   		</div>
    </form>
</section>